footer {
    text-align: center;
    border-top: 1px solid #f0f5ff;
    padding: 20px;
    width: 75%;
    margin: auto;
    text-transform: lowercase;
}

footer section span:first-child {
    color: #2F4F4F;
}

footer section span a {
    color: #2F4F4F;
}

footer section span a:hover {
    color: #5F9EA0;
}