html {
    height: 100%;
}

body {
    background-color: #A9A9A9;
    font-family: sans-serif;
    color: black;
    margin: 0;
}

.corpo {
    text-align: center;
}

.title {
    padding: 0 20px;
    font-size: 1.75em;
    text-transform: uppercase;
    margin: 40px auto 20px;
}