header nav ul {
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline-block;
}

header nav ul li:not(:last-child) {
    margin-right: 15px;
}


.menu li a {
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    color: #3bd42d;
    text-decoration: underline;
}